<h2>Create a new movie</h2>

<form action="/movies/{{movie.id}}/edit" method="post">
  <div class="mb-3">
    <label class="form-label" >Title</label>
    <input type="text" class="form-control" name="title" value="{{movie.title}}">
  </div>
    <div class="mb-3">
    <label  class="form-label">Genre</label>
    <input type="text" class="form-control" name="genre" value="{{movie.genre}}">
  </div>
    <div class="mb-3">
    <label  class="form-label">plot</label>
    <input type="text" class="form-control" name="plot" value="{{movie.plot}}">
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Cast</label>
  </div>
  <select class="custom-select" id="cast" name="cast" multiple>
    <option selected>Choose...</option>

 {{#each cast}}
    <option value={{this._id}}>{{this.name}}</option>
   {{/each}}
  

  </select>
</div>

{{!-- button --}}
<button type="submit" class="btn btn-primary">Edit</button>
</form>